@font-face {
	font-family: gilroy;
	src: url(/fonts/gilroy.ttf);
}
@font-face {
	font-family: gilro_bold;
	src: url(/fonts/gilro_bold.ttf);
}
@font-face {
	font-family: dinpro;
	src: url(/fonts/dinpro.otf);
}
@font-face {
	font-family: dinpro_bold;
	src: url(/fonts/dinpro_bold.otf);
}
